{% extends "base.html" %}

{% block content %}

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" style="padding-right: 20%; padding-left: 20%;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title" style="color: white">{{ class_info.name }}</h2>
                </div>
                <div class="modal-body">
                    <h6 style="color: whitesmoke">Language: {{ class_info.language_name }}</h6>
                    <h6 style="color: whitesmoke">Invite Code: {{ class_info.inv_code }}</h6>
                    <h6 style="color: whitesmoke">Number of students: {{ class_info.cur_students }}</h6>
                    <h6 style="color: whitesmoke">Max students: {{ class_info.max_students }}</h6>
                </div>
                <div class="modal-footer">
                    <a href={{'/remove_class/' + class_info.id }}>
                        <button type="button" class="btn btn-default bg-danger" style="border-color: #455a64">Delete Class</button>
                    </a>
                    <a href={{'/edit_class/' + class_info.id }}>
                        <button type="button" class="btn btn-default bg-primary" style="border-color: #455a64">Edit</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card" style="border-radius: 10px; width: 80%; margin: 0 auto; float: none; margin-bottom: 10px">



        <table style="width:100%; font-size:12px; line-height: 18px">


            {% set colors = ['#eee', '#c6e48b', '#7bc96f', '#239a3b', '#196127'] %}

            {% for student in students %}


                <tr>
                    <td>{{ student.name }}</td>


                    {% for time in student.time %}

                        <td>

                            <svg width="10" height="10">
                                <rect width="10" height="10" style="fill:{{ colors[time.exercise] }};" />
                            </svg>



                            <svg width="10" height="10">
                                <rect width="10" height="10" style="fill:{{ colors[time.reading] }};" />
                            </svg>
                        </td>

                    {% endfor %}
                </tr>
            {% endfor %}
            <tr>
                <th>Name</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr>


        </table>



    </div>



    <div class="card" style="border-radius: 10px; width: 80%; margin: 0 auto; float: none; margin-bottom: 10px">
        <h4 class="card-title">{{ class_info.name }}</h4>
        <div class="table-responsive m-t-40">
            <table id="example23" class="display nowrap table table-hover" cellspacing="0" width="100%">

                <thead>
                <tr>
                    <th>Name</th>
                    <th>Reading / Exercises</th>
                    <th>Time</th>
                </tr>
                </thead>


                <tbody>

                {% for student in students %}
                    <tr>
                        <td width="22%">
                            <h5><a href={{'/student/'+student.id +'/'+ time + '/' }}> <div class="text-inverse">{{ student.name }}</div></a></h5>
                        </td>

                        <td width="69%">
                            <div class="progress" style="height: 20px; margin-bottom: 3%; margin-top: 2%">
                                <div class="progress-bar bg-primary wow animated progress-animated" role="progressbar"
                                     style="width: {{(100*student.reading_time/(student.exercises_done+student.reading_time))}}%;">
                                    {{(100*student.reading_time/(student.exercises_done+student.reading_time))|round|int}}%
                                </div>
                                <div class="progress-bar bg-success wow animated progress-animated" role="progressbar"
                                     style="width: {{100*student.exercises_done/(student.exercises_done+student.reading_time)}}%; background-color: #607D8B !important;">
                                    {{(100*student.exercises_done/(student.exercises_done+student.reading_time))|round|int}}%
                                </div>

                            </div>
                        </td>

                        <td width="9%">
                            <div class="text-accent-4" style="margin-bottom: 1%; margin-top: 2%">
                                {{ ((student.exercises_done + student.reading_time)/60)|int}} h
                                {{ ((student.exercises_done + student.reading_time)%60)|int}} m
                            </div>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>


            </table>
        </div>
    </div>


    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="{{ url_for('static', filename='js/lib/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/datatables/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/datatables/datatables-init.js') }}"></script>

{% endblock %}


{% block buttons %}

    <button type="button" class="btn btn-outline-secondary btn-rounded waves-effect" style="color:#4285f4!important" data-toggle="modal" data-target="#myModal">
        &#9432
    </button>

    <button type="button" onclick="goBack()" class="btn btn-outline-secondary btn-rounded waves-effect" style="color:#4285f4!important"><</button>

    <script>
        function goBack() {
            window.history.back();
        }

        $(".progress-bar").animate({
            width: "70%"
        }, 2500);

    </script>

{% endblock %}