{% extends "base/student_page_base.html" %}

{% block content %}

    <div class="container-fluid" style="border-radius: 10px; width: 80%; margin: 0 auto; float: none; margin-bottom: 10px">
        <h1 style="text-align: center; font-size: 42px">{{ info.name }}</h1>
        <hr>
    </div>

    <div class="card" style="border-radius: 10px; width: 80%; margin: 0 auto; float: none; margin-bottom: 10px">
        <img src="/static/img/face.png" class="center-block">
        <h2 style="text-align:center">This student has no bookmarks during this time period</h2>
    </div>

    <script src="{{ url_for('static', filename='js/lib/jquery/jquery.min.js') }}"></script>

{% endblock %}
