{% extends "base.html" %}

{% block content %}

    <div class="row page-titles" style="border-radius: 10px; width: 80%; margin: 0 auto; float: none; margin-bottom: 10px">
    <!-- These are the classes  -->
    {% for class in classes %}
        <div class="col-md-4">
            <a href={{'/class/'+class.id}}>
                <div class="card bg-primary p-30">
                    <div class="media widget-ten">
                        <div class="media-left media media-middle">
                            <span><i class="ti-bag f-s-40"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <h2 class="color-white"> {{  class.class_name }} </h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}


    <!-- End Container fluid  -->


</div>

{% endblock %}