{% extends "base.html" %}

{% block content %}

    <div class="row page-titles" style="border-radius: 10px">
    <!-- These are the classes  -->

    {% for class in classes %}
        <div class="col-md-3">
            <a href={{'class/'+class.id}}>
                <div class="card bg-primary p-20">
                    <div class="media widget-ten">
                        <div class="media-left media media-middle">
                            <span><i class="ti-bag f-s-40"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <h2 class="color-white"> {{  class.class_name }} </h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}

    <div class="col-md-3">
        <a href="/create_classroom">
            <div class="card bg-danger p-20">
                <div class="media widget-ten">
                    <div class="media-left meida media-middle">
                        <span><i class="ti-location-pin f-s-40"></i></span>
                    </div>
                    <div class="media-body media-text-right">
                        <h2 class="color-white">Create new class</h2>
                        <p class="m-b-0"></p>
                    </div>
                </div>
            </div>
        </a>
    </div>


    <!-- End Container fluid  -->


</div>

{% endblock %}