{% extends "base.html" %}

{% block content %}

    <div class="container-fluid" style="border-radius: 10px; width: 80%; margin: 0 auto; float: none; margin-bottom: 10px">
                <h1 style="text-align: center; font-size: 42px">{{ info.name }}</h1>
        <hr>
    </div>


    {% for block in stats %}
        <div class="container-fluid" style="border-radius: 10px; width: 80%; margin: 0 auto; float: none; margin-top: 15px">
            <h1>{{ block.date }}</h1>
        </div>

        {% for bookmark in block.bookmarks %}
            <div class="card" style="border-radius: 10px; width: 80%; margin: 0 auto; float: none; margin-bottom: 10px">
                <div class="d-flex w-100 justify-content-between">
                    {{ bookmark.from }}
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    {{ bookmark.to }}

                    <div class="pull-right">
                        <a href={{ bookmark.url }}>
                            <button type="button" class="btn btn-default btn-primary m-b-10 m-l-5" style="background: #4680ff">Go to article</button>
                        </a>
                    </div>

                </div>
                <small>{{ bookmark.context }}</small>
            </div>
        {% endfor %}
        <br>
    {% endfor %}

{% endblock %}

{% block buttons %}

    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn btn btn-outline-secondary btn-rounded waves-effect">
            <span class="glyphicon glyphicon-filter"></span>  Filter
        </button>
        <div id="myDropdown" class="dropdown-content">
            <a href="{{'/student/'+student_id +'/'+'7/' }}">1 Week</a>
            <a href="{{'/student/'+student_id +'/'+'14/' }}">2 Weeks</a>
            <a href="{{'/student/'+student_id +'/'+'30/' }}">1 Month</a>
            <a href="{{'/student/'+student_id +'/'+'180/' }}">6 Months</a>
            <a href="{{'/student/'+student_id +'/'+'365/' }}">1 Year</a>
        </div>
    </div>


    <button type="button" onclick="goBack()" class="btn btn-outline-secondary btn-rounded waves-effect" style="color:#4285f4!important"><</button>



    <script>
        function goBack() {
            window.history.back();
        }


        /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {

                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>

{% endblock %}